RAG Agent.json
{
  "name": "RAG Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        48,
        -1648
      ],
      "id": "ffcab422-ed4f-45f2-bbd6-022bf1ee81bf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        -1424
      ],
      "id": "481a5b5d-3e55-4bd0-aabc-56f15f94f054",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "plJFKnwkBm0A20MW",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this to provide information about the NDIS, its pricing and details about Anita's profile.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        352,
        -1424
      ],
      "id": "7263562f-0edb-45ed-9a5b-e9ad6f698b60",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "ZzB7LGFvjxXjpPfo",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -272,
        -736
      ],
      "id": "32519385-22ba-43e3-8430-a651161c9acd",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "ZzB7LGFvjxXjpPfo",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        -128
      ],
      "id": "4878197d-cda9-4e2c-a2fd-a98253e568fb",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "plJFKnwkBm0A20MW",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -112,
        -48
      ],
      "id": "1bc560b0-166b-4f7f-8aa3-1fd08fe7af0c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -112,
        160
      ],
      "id": "ffc993e6-403e-424b-b40e-d9646ad76a94",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        352,
        -1216
      ],
      "id": "1bb0085c-ea48-43aa-9277-69c9fecdf90a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "plJFKnwkBm0A20MW",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        -1648
      ],
      "id": "4ce9aa6a-81b4-48ad-a775-2841578edb8e",
      "name": "Telegram Trigger",
      "webhookId": "39c31a0e-21d8-4c0d-86fd-8b852002b9bb",
      "credentials": {
        "telegramApi": {
          "id": "E8eSHw1xLm8tpHCU",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -1648
      ],
      "id": "b826626a-167d-4588-aac5-4ae70d534f3b",
      "name": "Send a text message",
      "webhookId": "6d381e28-d5cd-4d20-8397-7f2ac82c72ee",
      "credentials": {
        "telegramApi": {
          "id": "E8eSHw1xLm8tpHCU",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1DBLVEOs2d_oupB5c6bLI4OXaAwzJR_-F",
            "mode": "list",
            "cachedResultName": "n8n Documents",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1DBLVEOs2d_oupB5c6bLI4OXaAwzJR_-F"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1632,
        -688
      ],
      "id": "a5c91be8-944f-4f01-acc1-ade35f3d7d89",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TAoIfaGkKweIsmpC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1072,
        -672
      ],
      "id": "52721c56-d400-4d97-ab46-10f50a94142d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TAoIfaGkKweIsmpC",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "56d5757e-ceec-4f5a-96f1-e42d75c153d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0315c5fa2b803957bb866dad41f0f72d60cc01a1c8bb7a7ae594c4cd85c8ecbb"
  },
  "id": "7Z0H17wDb2Q7zS0K",
  "tags": []
}